
TracNghiemOnline/obj/Debug/TracNghiemOnline.csprojAssemblyReference.cache
TracNghiemOnline/obj/Debug/TracNghiemOnline.csproj.FileListAbsolute.txt
.vs/TracNghiemOnline/v16/Server/sqlite3/storage.ide-wal
.vs/TracNghiemOnline/v16/Server/sqlite3/storage.ide-shm
.vs/TracNghiemOnline/v16/.suo
.vs/TracNghiemOnline/config/applicationhost.config
